<!DOCTYPE html>
<html>

<head>
<title>Online CBT Test</title>
</head>
<br>

<body>

<h1>Mini CBT Test</h1>
<p>Welcome to the online CBT test application.</p>

<form method="POST">

{% for q in questions %}

<p>{{ q.question }}</p>

{% set q_index = loop.index0 %}

{% for option in q.options %}

<input type="radio" name="q{{ q_index }}" value="{{ option }}">
{{ option }}
<br>

{% endfor %}

{% endfor %}

<br>

<button type="submit">Submit</button>

</form>

</body>
</html>

<hr>
<P>Flask CBT project</P>